<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Electricity Consumption Forecasting Model</title>
  <style>
      body {background-color: #f2f4f5;}
      h1 { text-align: center}

      #about {text-align:justify; font-size: 20px;padding-left: 30px;padding-right: 30px;}
      #material {text-align:justify; font-size: 20px;padding-left: 30px;padding-right: 30px;}
      #about1 {text-align:justify; font-size: 20px;padding-left: 30px;padding-right: 30px;}
      #material1 {text-align:justify; font-size: 20px;padding-left: 30px;padding-right: 30px;}

      #con  {text-align:justify; font-size: 18px;padding-left: 30px;padding-right: 30px;}
      .fo {text-align:center}
    </style>

</head>

<body id="page-top">
<div class="background">


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">


      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">

              <a href="/coffee_machine">Coffee Machine Prediction Model</a>
          </li>
          <li class="nav-item">

            <a href="/microwave">Microwave Prediction Model</a>
          </li>
          <li class="nav-item">

            <a href="/hub/">Cloud Hub Model</a>
          </li>
            </li>
          <li class="nav-item">

            <a href="/copier">Copier Model</a>
          </li>
            </li>
          <li class="nav-item">

            <a href="/dsiplay">Display Model</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Welcome to ANN Machine Learning Visualisation Website</h1>


    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About this page</h2>
            <p id="about1">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This page is to simulate live updated electricity consumption and ANN forecasting model. The main objective of this website is to draw users' attention
                towards energy usage. Navigation links can direct you to each appliances dashborad page. Each page consists of three graphs.
                One is the lived updated graph with ANN forecasting model. The second figure is a sunburst pie chart, which is an interactive chart. The chart layers are divided by months, by weeks, by days,
                and by hour accordingly. By clicking on the centre,the chart would display the proportion of consumption based on the timeframe with the tooltip popping up, simultaneously.
                The third one is a bar chart. The function of the bar chart is not only to summarise how much electricity was consumed in one month, but also to reveal every half-hour consumption data piling up from the bottom to the top of the bar
            </p>
          <!--<p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>
          <ul>
            <li>Clickable nav links that smooth scroll to page sections</li>
            <li>Responsive behavior when clicking nav links perfect for a one page website</li>
            <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
            <li>Minimal custom CSS so you are free to explore your own unique design options</li>
          </ul>-->
        </div>
      </div>
    </div>
  </section>

  <section id="material" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Material</h2>
            <p id='material1'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The data was recorded by sensors that connecting to the appliances deployed in an open plan office located in London. Each data entry is in half hour, starting from
                23rd of December in 2019 to 7th of June in 2020.

            </p>
          <!--<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
        --></div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">

         <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
        --></div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
        <br>
       <br>

      <p class="fo"><span id='con'>Contact me:<a href = "mailto: ucfnlin@ucl.ac.uk">&nbsp;Email</a></span>Copyright &copy; Yu-Mei Lin 2020</p>
    </div>
    <!-- /.container -->
  </footer>
</div>


</body>

</html>
